body {
    margin: 0;
    padding: 0;
    background-color: #37353E;
}

h2 {
    color: rgb(127, 255, 212);
}

p {
    color: lawngreen;
}

div {
    background-color: #44444E;


    a {
        color: #FFF;
        text-decoration: none;
        display: inline-block;
        padding: 10px;

    }

    a:hover {
        color: orangered;
    }
}